.import-export-grid {
	&-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	&--direction {
		&-row {
			flex-direction: row;
		}

		&-column {
			flex-direction: column;
		}
	}

	&--justify {
		&-start {
			justify-content: flex-start;
		}

		&-center {
			justify-content: center;
		}

		&-end {
			justify-content: flex-end;
		}

		&-space-between {
			justify-content: space-between;
		}
	}

	&--align-items {
		&-start {
			align-items: flex-start;
		}

		&-center {
			align-items: center;
		}

		&-end {
			align-items: flex-end;
		}
	}
}
