@import "../../../../../../assets/styles/common";

.import-export__box {
	border-radius: $eps-radius;
	padding: spacing(10) spacing(16);
	background: theme-colors(light);
	color: tints(800);
	font-size: 14px;

	&--notice {
		border-left: 2px solid theme-colors(warning);
		color: tints(500);
		font-style: italic;
	}

	input {
		width: 100%;
		outline: 0;
		border: 0;
	}
}
